includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/Modules
        - app/Providers
    level: 6
    excludePaths:
        - app/Http/Controllers/Controller.php
        - app/Models/User.php
